.container {
    position: relative;
}

.row {
    margin: auto;
}

.landing {
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-family: 'Monda', sans-serif;
}

.floatingSocial {
    height: 10rem;
    width: 5rem;
    position: fixed;
    right: 0;
}

.smimg {
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
}

.selfie {
    min-height: 18rem;
    max-height: 18rem;
    min-width: 18rem;
    max-width: 18rem;
    margin: 1rem;
    position: relative;
    float: left;
    left: 0;
}

#progressbars {
    margin-left: .25rem;
    margin-top: 1rem;
}

.progress {
    padding: 0;
    height: 1rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.meter {
    float: left;
    border: thin black solid;
    border-top: transparent;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.portlink {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.portlinkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.certimg {
    height: 100%;
    width: 100%;
    max-width: 10rem;
    max-height: 10rem;
}

form {
    padding: 10px;
}

.certifications {
    margin: auto;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0px 15px 35px 5px;
}

footer {
    border: thin black solid;
    height: 5rem;
}