#navbarNav {
  display: fixed;
  margin-top: 2rem;
}

.navbar li {
  width: 10rem;
  background-color: transparent;
}

.section
{
  position: relative;
  margin-top: 2rem;
}

.container {
  border: thin black solid;
}

.flex-container {
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.selfie
{
  min-height: 18rem;
  max-height: 18rem;
  min-width: 18rem;
  max-width: 18rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
  float: left;
  left: 0;
}

.row {
  margin-top: 2rem;
}

.card
{
  width: 50%;
  height: 100%;
}

  .projects img {
    width: 100%;
    height: 100%;
  }

.certimg 
{
  margin: auto;
  width: 10rem;
  max-width: 15rem;
  height: 10rem;
  max-height: 15rem;
}

.card-footer {
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

footer, .reset {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
}

.contact {
  margin: auto;
}

/* ---------------Social Media--------------- */
.floatingSocial 
{
  height: fit-content;
  width: 6rem;
  position: fixed;
  right: 0;
}

ul 
{
  display: flex;
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li 
{
  list-style: none;
  margin-right: 1rem;
}

ul li a 
{
  width: 80px;
  height: 80px;
  background-color: #FAFAFA;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

ul li a .icon 
{
  position: relative;
  color: #FF8A00;
  border: none;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon 
{
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before 
{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before 
{
  top: 0;
}

ul li:nth-child(1) a:before
{
  background: #3b5999;
}

ul li:nth-child(2) a:before
{
  background: #868686;
}

ul li:nth-child(3) a:before
{
  background: #3b5999;
}